
@mixin rating {
  
    .rating{
        .fa{
          color: $color_blue;
        }
        .far{
          color: $color_blue;

        }
        .fas{
          color: $color_blue;

        }
      }
}